In [1]:
import plotly.express as px
import pandas as pd
import numpy as np

In [2]:
movies_path = '../../Data/raw/movies.csv'
movies = pd.read_csv(movies_path)
movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
movies['genres'] = movies['genres'].apply(lambda x:x.split('|'))
movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]

In [4]:
movies_copy = movies.copy()
# join them back with '|' so we can use str.get_dummies
movies_copy['genres_str'] = movies_copy['genres'].apply(lambda x: '|'.join(x))

genre_dummies = movies_copy['genres_str'].str.get_dummies(sep='|')

In [5]:
genres_amount= genre_dummies.sum()
type(genres_amount)

pandas.core.series.Series

In [6]:
genres_amount = pd.DataFrame(genres_amount)

In [7]:
genres_amount

                        0
(no genres listed)   7080
Action               9668
Adventure            5402
Animation            4617
Children             4520
Comedy              23124
Crime                6976
Documentary          9363
Drama               34175
Fantasy              3851
Film-Noir             353
Horror               8654
IMAX                  195
Musical              1059
Mystery              4013
Romance             10369
Sci-Fi               4907
Thriller            11823
War                  2325
Western              1696

In [11]:
# Balkendiagramm erstellen
fig = px.bar(genres_amount, x=genres_amount.index, y=genres_amount.columns, title='Beispiel-Balkendiagramm')

# Diagramm anzeigen
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed